<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= @entry.owner_id %>
</p>

<p>
  <b>Car:</b>
  <%= @entry.car_id %>
</p>

<p>
  <b>Status:</b>
  <%= @entry.status_id %>
</p>

<p>
  <b>Comments:</b>
  <%= @entry.comments %>
</p>

<p>
  <b>Hours:</b>
  <%= @entry.hours %>
</p>

<p>
  <b>Departure date:</b>
  <%= @entry.departure_date %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
