<p id="notice"><%= notice %></p>

<p>
  <b>Coche:</b>
  <%= @entry.car.public_name if @entry.car %>
</p>
<p>
  <b>Owner:</b>
  <%= link_to(@entry.owner.public_name, @entry.owner) if @entry.owner %>
</p>

<p>
  <b>Estado:</b>
  <%= Entry.get_estado(@entry.status_id) if @entry.status_id %>
</p>

<p>
  <b>Comentarios:</b>
  <%= @entry.comments %>
</p>

<p>
  <b>Horas de trabajo:</b>
  <%= @entry.hours %>
</p>
<% if @entry.departure_date %>
<p>
  <b>Departure date:</b>
  <%= @entry.departure_date.strftime('%d/%m/%Y') %>
</p>
<% end %>


<%= link_to 'Actualizar información', edit_entry_path(@entry) %> |
<%= link_to 'Retroceder', my_garage_path %>
